.offer {
    .secContainer {
        .mainContent {
            gap: 1rem;

            .singleOffer {
                border-radius: 1rem;
                overflow: hidden;
                padding: .5rem;
                box-shadow: 0 2px 8px 2px rgb(58, 53, 53);

                .icon {
                    font-size: 20px;
                    color: rgb(113, 113, 113);
                }

                small {
                    font-weight: 500;
                    color: rgb(113, 113, 113);
                }

                .destImg {
                    position: relative;
                    height: 240px;
                    width: 100%;
                    background-size: cover;
                    border-radius: 1rem;
                    overflow: hidden;

                    img {
                        height: 100%;
                    }

                    .discount {
                        position: absolute;
                        top: 10px;
                        right: 10px;
                        padding: 5px 10px;
                        background: rgb(249, 120, 20);
                        color: white;
                        border-radius: 3rem;
                        font-size: 14px;
                        font-weight: 500;
                    }
                }

                .offerBody {
                    padding: 1rem;

                    .price {
                        justify-content: space-between;

                        h4 {
                            color: black;
                            font-weight: 700;
                            font-size: 1.1rem;
                        }

                        .status {
                            padding: 5px 10px;
                            color: rgb(245, 192, 92);
                            background: rgb(155, 155, 155);
                            font-size: 14px;
                            font-weight: 600;
                            border-radius: 3rem;
                        }
                    }

                    .amenities {
                        width: 100%;
                        flex-wrap: wrap;
                        justify-content: flex-start;
                        padding: 1rem 0;
                        gap: .5rem;

                        .singleAmen {
                            padding: 5px 10px;
                            border-radius: 5px;
                            background: rgb(155, 155, 155);
                            gap: .5rem;
                        }
                    }

                    .btn {
                        margin-top: 1rem;
                        width: 100%;
                        text-align: center;
                        justify-content: center;
                        padding: .6rem;
                        color: white;
                        font-weight: 600;
                        gap: 1rem;

                        .icon {
                            color: white;
                        }
                    }
                }

                &:hover {
                    transform: translateY(-7px);
                }
            }
        }
    }
}