@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: .3s ease;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}


.section{
    padding: 4rem 0 2rem;
}

.container{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.icon{
    font-size:2rem;
    cursor:pointer;
}

.flex{
    display:flex;
    align-items: center;
}

.grid{
    display:grid;
    align-items: center;
}


.btn{
    padding: .4rem 1.5rem;
    background-color: rgb(249, 120, 20);
    border:none;
    outline: none;
    border-radius: 3rem;
    cursor: pointer;
}

.btn a{
    color:white;
    font-weight:500;
}

.btn:hover a{
    
}

.secIntro{
    max-width:70%;
    text-align:center;
    margin: 0 auto 2rem;
}

.secIntro .secTitle{

    line-height:1.5rem;
    padding-bottom: .5rem;
}

.secIntro p{
    font-size:13px;

    font-weight:500;
}

img, video{
    width: 100%;
    height: auto;
}

input{
    font-size:100%;
}